body {
  background-color: #FFF4CF;
  font-family: garamond;
  font-size: 20px;
}
hr {
  border-style:none;
  border-top-style: dotted;
  width:5%;
  border-width:8px;
  border-color:gainsboro;
}
h1{
  color: #319DA0;
  font-weight: bolder;
  font-family: Century;
  font-size: 40px;
}
h3{
  color: #319DA0;
  font-family: Tahoma;
  font-variant: small-caps;
}
